vendor
.idea
recipes

web/core
web/libraries
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/profiles/drupal_cms_installer
web/sites/example*
web/sites/*/files
web/sites/*/default*
web/*/README.txt
web/components

web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/example.gitignore
web/*.php
web/README.md
web/INSTALL.txt
